

<div>
  <mat-toolbar class="app-header"  height="60">
    <div><h1 id="LogoName">BICHANCE</h1></div>
    <span class="nav-tool-items">
      <a mat-button id="headerLoginbtn" routerLink="../login" routerLinkActive="active">Log Out</a>
  
    </span>
    
  </mat-toolbar>
<div style="margin-top: 90px;">
  <router-outlet></router-outlet>

</div>

</div>



<mat-form >
  <mat-drawer-container >
  
      <mat-drawer #drawer class="example-sidenav" mode="side" fxFILL  style="background-color: grey;" opened>
       
        <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
         
        </button>
        &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp; 
        <mat-icon (click)="showFiller = !showFiller" mat-flat-button  (click)="drawer.toggle()"  style=" cursor:pointer;">
          close
        </mat-icon>
        <BR>
          <button class="button1"  (click)="showFiller = !showFiller" mat-flat-button   style="color:white;
   

   background-color: #790100;">
            Home
            </button>
            <br>
      
          <button class="button1"  (click)="showFiller = !showFiller" mat-flat-button (click)="account()" >
          Account Profile
          </button>
          <br>
          <button *ngIf="type" class="button1" (click)="showFiller = !showFiller" mat-flat-button  (click)="JobList()">
            Applied Jobs
          </button>
      
          <button *ngIf="!type" class="button1" (click)="showFiller = !showFiller" mat-flat-button  (click)="addJob()">
            Add A Job
          </button>
      </mat-drawer>
      <BR>
        <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
          <mat-icon >menu</mat-icon>
        </button>

        <div class="fa-3x" *ngIf="!type">

          <div class="container-fluid">
       
            <div class="row">
         
              <div class="col-md-4">
              
              </div>

              <div class="col-md-4">
               
          <h1 style="color:#790100;font-size: larger;">{{user.companyName}}</h1>
              </div>
            </div></div>


          <!-- <button (click)="addJob()" mat-raised-button (click)="drawer.toggle()">
           <mat-icon   class="Material-icon">add</mat-icon>
         </button> -->

          <h1>published jobs:</h1>


       </div>
        <div class="main-content" fxfill>
          <mat-form  [formGroup]="filterForm"  *ngIf="type">
          <header style=" margin-bottom: 1.5%;">
            <mat-form-field  style="width: 20%;  color:aliceblue;">
            <mat-label id="citySearch" >Search By City </mat-label>
            <mat-select formControlName="city" >
              <mat-option  id="{{[city]}}" [value]="city" *ngFor="let city of City">{{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field  style="width: 20%;margin-left: 2%; margin-right: 2%;">
            <mat-label id="genderSearch" >Search By Gender </mat-label>
            <mat-select formControlName="gender" >
              <mat-option  id="{{[gender]}}" [value]="gender" *ngFor="let gender of Gender">{{gender}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  style="width: 20%;margin-left: 2%; margin-right: 2%;">
            <mat-label id="degreeSearch" >Search By StudyDegree </mat-label>
            <mat-select formControlName="studyDegree" >
              <mat-option  id="{{[degree]}}" [value]="degree" *ngFor="let degree of Degree">{{degree}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  style="width: 20%;margin-left: 2%; margin-right: 2%;">
            <mat-label id="fieldSearch" >Search By Field </mat-label>
            <mat-select formControlName="personField" >
              <mat-option  id="{{[field]}}" [value]="field" *ngFor="let field of Field">{{field}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        

        
            <button  mat-raised-button id="RegisterSubmit" class="submitbtn" (click)=" filter()">Search!</button>
      

        </header>


      </mat-form>

    <mat-card *ngFor="let job of jobs" style=" cursor:pointer;"  (click)="goToDescribe(job.jobId)" fxfill>
      <div  *ngIf="type">
      <mat-card-header fxfill >
       <mat-card-title fxfill  >
        
         <!-- <h2>{{ item.header }}</h2> -->
        
         <label style=" cursor:pointer;" style="font-size: 20px;">  {{job.companyName}}</label>
         <label style=" cursor:pointer;" style="font-size: 20px;" *ngIf="search">  {{job.companyID.companyName}}</label>
         <!-- <br style=" cursor:pointer;"> -->
        
         <!-- &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;&nbsp;	&nbsp; -->
        
       
         <!-- <Label style=" cursor:pointer;" style="font-size: 12px;" *ngIf="!type">   City: {{ job.companyID.cities.cityName}}</Label> -->
         <!-- &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp; -->
        
        
      </mat-card-title>
 
    </mat-card-header>
     </div>

    <div class="main-content" *ngIf="type">
      <div class="container-fluid">
       
          <div class="row">
            <div class="col-md-4">
     <label style=" cursor:pointer;" style="font-size: 16px;">Job Title: {{job.jobTitle}}  </label> 
            </div>
            
           
            <div class="col-md-4">
    
     <label style=" cursor:pointer;" style="font-size: 16px;">Field: {{job.jobField}} </label> 
    </div>
    <div class="col-md-4">

      <Label style=" cursor:pointer;" style="font-size: 16px;" *ngIf="!filterOn">   City: {{ job.cityName}}</Label>
      <Label style=" cursor:pointer;" style="font-size: 16px;" *ngIf="filterOn">   City: {{ job.companyID?.cities.cityName}}</Label>
     </div>
          </div>
          <!-- <div class="row">

            <div class="col-md-3">
              <button mat-raised-button fxFill id="submitBtn" class="submitbtn" (click)="goToDescribe(job.jobId)" style="width: 200px;">See Description</button>
            </div>

          </div> -->

        </div>
      </div>

        <div class="main-content" *ngIf="!type">
          <div class="container-fluid">
           
              <div class="row">
                <div class="col-md-4">
         <label style=" cursor:pointer;" style="font-size: 16px;">Job Title: {{job.jobTitle}}  </label> 
                </div>
                <!-- <div class="col-md-4"> &nbsp;	&nbsp;	&nbsp;	&nbsp;</div> -->
               
                <div class="col-md-4">
         <!-- &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp; -->
         <label style=" cursor:pointer;" style="font-size: 16px;">Field: {{job.jobField}} </label> 
        </div>
        <div class="col-md-4">
          <!-- &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp; -->
          <label style=" cursor:pointer;" style="font-size: 16px;">Published Date: {{job. jobStartDate}} </label> 
         </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label style=" cursor:pointer;" style="font-size: 16px;">Job Time: {{job.jobTime}} </label> 
                </div>
                <!-- <div class="col-md-4">
                  &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
                </div> -->
                <div class="col-md-4">
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="goToDescribe(job.jobId)" >See Description</button>
                </div>

              </div>

            </div>
          </div>
        
       


   </mat-card>

 



  
        </div>


  </mat-drawer-container>
</mat-form>
