




<mat-form >
  <mat-drawer-container >
  
      <mat-drawer #drawer class="example-sidenav" mode="side" fxFILL >
       
        <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
         
        </button>
        <br>
        <button (click)="showFiller = !showFiller" mat-raised-button (click)="drawer.toggle()">
          <mat-icon >arrow_forward</mat-icon>
        </button>
        <BR>
      
          <button (click)="showFiller = !showFiller" mat-raised-button (click)="account()">
            <mat-icon >account_circle</mat-icon>
          </button>
      </mat-drawer>
      <BR>
        <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
          <mat-icon >menu</mat-icon>
        </button>


        <div class="main-content" fxfill>
          <mat-form  [formGroup]="filterForm" >
          <header style="background-color: lightgrey;
          margin-bottom: 1.5%;">
            <mat-form-field  style="width: 30%;  color:aliceblue;">
            <mat-label id="citySearch" >Search By City </mat-label>
            <mat-select formControlName="city" (click)="filter()">
              <mat-option  id="{{[city]}}" [value]="city" *ngFor="let city of City">{{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field  style="width: 30%;margin-left: 2%; margin-right: 2%;">
            <mat-label id="genderSearch" >Search By Gender </mat-label>
            <mat-select formControlName="gender" (click)="filter()">
              <mat-option  id="{{[gender]}}" [value]="gender" *ngFor="let gender of Gender">{{gender}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field  style="width: 30%;">
            <mat-label id="genderSearch" >Search By Working Hours </mat-label>
            <mat-select formControlName="workingHours" (click)="filter()" >
              <mat-option  id="{{[workingHours]}}" [value]="workingHours" *ngFor="let workingHours of WorkingHours">{{workingHours}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
            <button  mat-raised-button id="RegisterSubmit" class="submitbtn" (click)="updateFilter()">Search!</button>
      

        </header>


        

    <mat-card *ngFor="let job of jobs" style=" cursor:pointer;"  (click)="goToDescribe(job.jobId)" fxfill>
      <mat-card-header fxfill>
       <mat-card-title fxfill>
         <!-- <h2>{{ item.header }}</h2> -->
         <label style="font-size: 20px;">  {{job.companyID?.companyName}}</label>
         <br>
         &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;&nbsp;	&nbsp;
         <Label style="font-size: 12px;">   City: {{ job.companyID?.cities?.cityName }}</Label>
         &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
         <label style="font-size: 12px;">Job Title: {{job.jobTitle}}  </label> 
         <br>
         <label style="font-size: 16px;">Description </label> 
         <br>
         <label style="font-size: 12px;"> {{job.jobDescription}}  </label> 
       
       </mat-card-title>
 
     </mat-card-header>

   </mat-card>
   <>

  </mat-form>
        </div>


  </mat-drawer-container>
</mat-form>








<!--

<mat-form  [formGroup]="filterForm" fxfill>

  <div class="container" fxfill>
    <header style="background-color: lightgrey;
    margin-bottom: 1.5%;">
      <mat-form-field  style="width: 30%;  color:aliceblue;">
      <mat-label id="citySearch" >Search By City </mat-label>
      <mat-select formControlName="city" (click)="filter()">
        <mat-option  id="{{[city]}}" [value]="city" *ngFor="let city of City">{{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field  style="width: 30%;margin-left: 2%; margin-right: 2%;">
      <mat-label id="genderSearch" >Search By Gender </mat-label>
      <mat-select formControlName="gender" (click)="filter()">
        <mat-option  id="{{[gender]}}" [value]="gender" *ngFor="let gender of Gender">{{gender}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field  style="width: 30%;">
      <mat-label id="genderSearch" >Search By Working Hours </mat-label>
      <mat-select formControlName="workingHours" (click)="filter()">
        <mat-option  id="{{[workingHours]}}" [value]="workingHours" *ngFor="let workingHours of WorkingHours">{{workingHours}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </header>
  
  
  



  <mat-drawer #drawer class="example-sidenav" mode="side" fxFILL >
   
    <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
     
    </button>
    <br>
    <button (click)="showFiller = !showFiller" mat-raised-button (click)="drawer.toggle()">
      <mat-icon >home</mat-icon>
    </button>
    <BR>
      <button (click)="showFiller = !showFiller" mat-raised-button (click)="account()">
        <mat-icon >account_circle</mat-icon>
      </button>
  </mat-drawer>
  <BR>


  <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
    <mat-icon >menu</mat-icon>
  </button>


    <mat-card [value]="item.companyName" *ngFor="let item of items" style=" cursor:pointer;"  (click)="goToDescribe(item.companyName)">
       <mat-card-header>
        <mat-card-title>
          <h2>{{ item.header }}</h2>
          <label style="font-size: 12px;">  {{item.companyName}}</label>
          &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
          <Label style="font-size: 12px;">   City: {{ item.city }}</Label>
          &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
          <label style="font-size: 12px;">Job Title: {{item.jobTitle}}  </label> 
        
        </mat-card-title>
  
      </mat-card-header>

    </mat-card>
  

</div>
</mat-form>

-->