
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card id="loginBox" class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
<!--
      <h3>Select Your type of use</h3>
<mat-button-toggle-group name="UserType" aria-label="User Type">
  <mat-button-toggle value="Company">Company</mat-button-toggle>
  <mat-button-toggle value="Candidate" >Candidate</mat-button-toggle>
</mat-button-toggle-group>
  -->
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input id="passowrdInput" matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button fxFill id="submitBtn" class="submitbtn">Log in</button>
        <br><br>
        
      </form>
          <!-- Remind Passowrd -->
          <router-outlet>
          <a mat-raised-button fxFill id="forgotPasswordBtn" class="submitbtn" href="ForgotPassword">Forgot Password</a>
        </router-outlet>
        </mat-card>
    
    
  
  </div>