<div class="registerbox"  >
    <div class="container1" >
      <div *ngFor="let item of jobDes " fxfill>
        <mat-card *ngIf="item.jobId">
            <mat-card-header>
             <mat-card-title style=" cursor:pointer;">
                <br>
                <br>
               <label>{{item.companyID.companyName}}</label>
         
             <br><br>
            
            <label>Job Title &nbsp;:</label>
             &nbsp;
             <label >{{item.jobTitle}} </label>
             
             </mat-card-title>
            
          
           </mat-card-header>
          
           <div fxfill>
               <label>Job Field: &nbsp;</label>
               &nbsp;
               <label>{{item.jobField }}</label>
               <br>
               <label>Job Published in: &nbsp;</label>
               &nbsp;
               <label>{{item.jobStartDate }}</label>
               <br>
               <label>Job  End in: &nbsp;</label>
               &nbsp;
               <label>{{item.jobEndDate }}</label>
               <br>
               <label>Degree Requiered: &nbsp;</label>
               &nbsp;
               <label>{{item.degreeRequierd }}</label>
               <br>
               <label>Gender: &nbsp;</label>
               &nbsp;
               <label>{{item.genderToJob }}</label>
               <br>
               <label>Time: &nbsp;</label>
               &nbsp;
               <label>{{item.jobTime }}</label>
               

           </div>
           <br><br>
          
           <mat-card-content fxfill>
            <label style="font-size: large" >Description:</label>
            <label style="font-size: medium;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> {{item.jobDescription}}  </label>
          
          </mat-card-content>

          
          <mat-card-footer >
            <div class="container" style="left:50px">
            <h1 style="color: #790100; ">Contact Us!</h1>
            <label>Email:{{item.companyID?.companyEmail}}</label>
            <br>
               <label>Phone:{{item.companyID?.companyPhone}}</label>
               <br>
               <label>address:{{item.companyID?.address}}</label>
              </div>
          <mat-card-actions   *ngIf="type">
            <div *ngIf="!applied">
            <button  mat-raised-button id="RegisterSubmit" class="submitbtn" style="left: 40%;" (click)="apply()">Apply Now!</button>
              
          </div>

          <div *ngIf="applied">
            <button  mat-button id="RegisterSubmit" class="submitbtn" style="left: 40%;cursor:default;" >{{status}}</button>
              
          </div>
          </mat-card-actions>
      


      </mat-card-footer>
         </mat-card>
         </div>
         <br>
         <br>
         <br>
         <br>
         <div>
         <mat-card *ngIf="!type"   fxfill>
          <mat-card-header fxfill >
          
            <mat-card-title fxfill  >
              <h1> Applied Candidates</h1>
             <div  fxfill *ngFor="let app of apps">
            
              <label style=" cursor:pointer;" style="font-size: 20px;"> Candidate:{{app.personName}} </label>
              <br style=" cursor:pointer;">
              &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;&nbsp;	&nbsp;
              <Label style=" cursor:pointer;" style="font-size: 12px;">   Study Degree {{app.studyDegree}}</Label>
              &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
              <label style=" cursor:pointer;" style="font-size: 12px;">Email: {{app.personEmail}}  </label> 
              <br style=" cursor:pointer;">

              <label style=" cursor:pointer;" style="font-size: 12px;"> Applied In: {{app.date}}  </label> 
              &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;
              <div *ngIf="!app.status">
                <button type="submit" class="btn btn-success {{app.applicationID}}approve" (click)="response(1,app.applicationID)">Approve</button>
                <button type="submit" class="btn btn-danger {{app.applicationID}}reject" (click)="response(0,app.applicationID)">Reject</button>  

              </div>

              <div *ngIf="app.status">
                <label  style="font-size: 20px;color: #790100;"> {{app.status}} </label>
              </div>

             </div>
            </mat-card-title>
      
          </mat-card-header>
         </mat-card>

         </div>
        </div>
