<div class="registerbox" fxLayout="row" fxLayoutAlign="center center" >
    <div class="container">
        <mat-card [value]="item.companyName" *ngFor="let item of items" >
            <mat-card-header>
             <mat-card-title style=" cursor:pointer;">
                <br>
                <br>
               <label> {{jobDes.companyID?.companyName}}</label>
         
             <br><br>
            
            <label>Job Title &nbsp;:</label>
             &nbsp;
             <label >{{jobDes.jobTitle}} </label>
             
             </mat-card-title>
            
          
           </mat-card-header>
          
           <mat-card>
               <label>Job Field: &nbsp;</label>
               &nbsp;
               <label>{{item.jobField }}</label>
               <br>
               <label>Job Published in: &nbsp;</label>
               &nbsp;
               <label>{{item.jobStartDate }}</label>
               <br>
               <label>Job  End in: &nbsp;</label>
               &nbsp;
               <label>{{item.jobEndDate }}</label>
               <br>
               <label>Degree Requiered: &nbsp;</label>
               &nbsp;
               <label>{{item.degreeRequierd }}</label>
               <br>
               <label>Gender: &nbsp;</label>
               &nbsp;
               <label>{{item.genderToJob }}</label>
               <br>
               <label>Time: &nbsp;</label>
               &nbsp;
               <label>{{item.jobTime }}</label>
               

           </mat-card>
           <label style="font-sixe: large">Description:</label>
           <mat-card-content >
            <label style="font-size: medium;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> {{jobDes.jobDescription}}  </label>
          
          </mat-card-content>

          
          <mat-card-footer style="padding-right:97%">
            <h1 style="color: #790100; padding-right:97%">Contact Us!</h1>
            <label>Email:{{jobDes.companyID?.companyEmail}}</label>
            <br>
               <label>Phone:{{jobDes.companyID?.companyPhone}}</label>
               <label>address:{{jobDes.companyID?.address}}</label>
        
          <mat-card-actions>
            <button  mat-raised-button id="RegisterSubmit" class="submitbtn" >Apply Now!</button>
        </mat-card-actions>
      </mat-card-footer>
         </mat-card>
        </div>
</div>