
<div>
    <mat-toolbar class="app-header"  height="60">
      <div><h1 id="LogoName">BICHANCE</h1></div>
      <span class="nav-tool-items">
        <a mat-button id="headerLoginbtn" routerLink="../login" routerLinkActive="active">Log Out</a>
  
      </span>
  
    </mat-toolbar>
  <div style="margin-top: 90px;">
    <router-outlet></router-outlet>
  
  </div>
  
  </div>

  
            <div class="main-content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="card">
                              <div class="card-header card-header-danger">
                                  <h4 class="card-title">Edit Profile</h4>
                              </div>
                              <div class="card-body">
  
                                      <div class="row">
                                          <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <label>{{profileDetails.fullName}}</label>
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="UserName Disabled" formControlName="username" disabled  [(ngModel)]="profileDetails.userName">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email" type="email" formControlName="email" [(ngModel)]="profileDetails.email"  disabled  >
                                              </mat-form-field>
                                          </div>
                                      </div>
  
                                      <div class="row">
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Field" type="text" formControlName="field" [(ngModel)]="profileDetails.field" style=" cursor:pointer;">
                                          </mat-form-field>
                                        </div>
                                          <div class="col-md-6">
                                            <mat-form-field  class="example-full-width"  fxFill>
                                              <mat-label id="academicLabel" >Academic Degree... </mat-label>
                                              <mat-select formControlName="studyDegree" [(ngModel)]="profileDetails.studyDegree" style=" cursor:pointer;">
                                                <mat-option  id="{{[degree]}}" [value]="degree" *ngFor="let degree of Degree">{{degree}}
                                                </mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <mat-form-field  class="example-full-width" fxFill>
                                            <mat-label id="cityBtn">City: {{profileDetails.c</mat-label>
              
                                          </mat-form-field>
  
                                        </div>
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Phone" type="text" formControlName="phone" [(ngModel)]="profileDetails.personPhone"style=" cursor:pointer;">
                                          </mat-form-field>
                                        </div>
  
                                    </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Date Of Birth" type="date" formControlName="dateOfBirth"  [(ngModel)]="profileDetails.dateOfBirth"style=" cursor:pointer;">{{profileDetails.dateOfBirth}}
                                          </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <mat-label id="genderLabel"  >Gender... </mat-label>
                                            <mat-select formControlName="gender" onchange="" [(ngModel)]="profileDetails.gender" style=" cursor:pointer;">
                                              <mat-option id="genderOption"  [value]="gender" *ngFor="let gender of Gender">{{gender}}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                    </div>
  
                                      <div class="row">
                                          <div class="col-md-12">
                                            <label>About Me</label>
                                            <mat-form-field class="example-full-width">
                                               <textarea matInput placeholder="Info About Me !" formControlName="canddescription" [(ngModel)]="profileDetails.description" style=" cursor:pointer;"></textarea>
                                             </mat-form-field>
                                              <!-- <div class="form-group">
                                                  <div class="form-group">
                                                      <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                      <textarea class="form-control" rows="5"></textarea>
                                                  </div>
                                              </div> -->
                                          </div>
                                      </div>
                                      <button mat-raised-button type="submit" class="btn btn-danger pull-right" style=" cursor:pointer;" (click)="update()">Update Profile</button>
                                      <div class="clearfix"></div>
  
                              </div>
                          </div>
                      </div>
  
                      </div>
                  </div>
  
            </div>
