
<div>
  <mat-toolbar class="app-header"  height="60">
    <div><h1 id="LogoName">BICHANCE</h1></div>
    <span class="nav-tool-items">
      <a mat-button id="headerLoginbtn" routerLink="../login" routerLinkActive="active">Log Out</a>
  
    </span>
    
  </mat-toolbar>
<div style="margin-top: 90px;">
  <router-outlet></router-outlet>

</div>

</div>
<mat-form fxfill>
<mat-drawer-container fxfill>

    <mat-drawer #drawer class="example-sidenav" mode="side" fxFILL  style="background-color: grey;">
     
      <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
       
      </button>
      <br>

      <button class="button1" (click)="showFiller = !showFiller" mat-raised-button (click)="drawer.toggle()">
        Close The Bar 

      </button>
      <BR>
        <button  class="button1"  (click)="showFiller = !showFiller" mat-raised-button (click)="home()">
          Home
        </button>
        <BR>

    </mat-drawer>
    <BR>



        <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
            <mat-icon >menu</mat-icon>
          </button>





          <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Edit Profile</h4>
                                <p class="card-category">Complete your profile</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <mat-form-field class="example-full-width">
                                              <input matInput placeholder="{{profileDetails.fullName}}" >
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="UserName" disabled>{{profileDetails.userName}}(disabled)
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Email" type="email">{{profileDetails.personEmail}}
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Field" type="text">{{profileDetails.personField}}
                                        </mat-form-field>
                                      </div>
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Academic Degree" type="text">{{profileDetails.studyDegree}}
                                          </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="city" type="text">{{profileDetails.city}}
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Phone" type="text">{{profileDetails.personPhone}}
                                        </mat-form-field>
                                      </div>

                                  </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Date Of Birth" type="date">{{profileDetails.dateOfBirth}}
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Gender" type="text">{{profileDetails.gender}}
                                        </mat-form-field>
                                      </div>
                                  </div>
 
                                    <div class="row">
                                        <div class="col-md-12">
                                          <label>About Me</label>
                                          <mat-form-field class="example-full-width">
                                             <textarea matInput placeholder="Info About Me !"></textarea>{{profileDetails.description}}
                                           </mat-form-field>
                                            <!-- <div class="form-group">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="update()" >Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            
          </div>

</mat-drawer-container>



    </mat-form>