
<div>
  <mat-toolbar class="app-header"  height="60">
    <div><h1 id="LogoName">BICHANCE</h1></div>
    <span class="nav-tool-items">
      <a mat-button id="headerLoginbtn" routerLink="../login" routerLinkActive="active">Log Out</a>
  
    </span>
    
  </mat-toolbar>
<div style="margin-top: 90px;">
  <router-outlet></router-outlet>

</div>

</div>





<mat-form  fxfill>
    <mat-drawer-container fxfill>
    

  
      <mat-drawer #drawer class="example-sidenav" mode="side" fxFILL  style="background-color: grey;" opened>
       
        <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
         
        </button>
        &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;  &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp; 
        <mat-icon (click)="showFiller = !showFiller" mat-flat-button  (click)="drawer.toggle()"  style=" cursor:pointer;">
          close
        </mat-icon>
        <BR>
          <button class="button1"  (click)="showFiller = !showFiller" mat-flat-button   >
            Home
            </button>
            <br>
      
          <button class="button1"  (click)="showFiller = !showFiller" mat-flat-button (click)="account()" >
          Account Profile
          </button>
          <br>
      
          <button class="button1" (click)="showFiller = !showFiller" mat-flat-button style="color:white;
   

          background-color: #790100;">
            Add A Job
          </button>
      </mat-drawer>
      <BR>
        <button style="position: relative;left:90%;" mat-button (click)="drawer.toggle()">
          <mat-icon >menu</mat-icon>
        </button>
    
         
    
              <div class="main-content" fxfill>
                
                <div class="container-fluid" fxfill>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="JobForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Job Title"  formControlName="jobTitle">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Job Field"  formControlName="jobField">
                                                </mat-form-field>
                                            </div>

                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">

                                                <mat-form-field  class="example-full-width"  fxFill>
                                                    <mat-label id="academicLabel" >Academic Degree... </mat-label>
                                                    <mat-select formControlName="studyDegree">
                                                      <mat-option  id="{{[degree]}}" [value]="degree" *ngFor="let degree of Degree">{{degree}}
                                                      </mat-option>
                                                    </mat-select>
                                                  </mat-form-field> 
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <mat-form-field   class="example-full-width"  fxFill>
                                            <mat-label id="genderSearch" >Time </mat-label>
                                            <mat-select formControlName="jobTime">
                                              <mat-option  id="{{[workingHours]}}" [value]="workingHours" *ngFor="let workingHours of WorkingHours">{{workingHours}}
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                          </div>
    
                                      </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <mat-form-field   class="example-full-width"  fxFill>
                                                <mat-label id="genderLabel"  >Gender... </mat-label>
                                                <mat-select formControlName="gender" onchange="">
                                                  <mat-option id="genderOption"  [value]="gender" *ngFor="let gender of Gender">{{gender}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                          </div>
                                      </div>
     
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>About The Job</label>
                                              <mat-form-field class="example-full-width">
                                                 <textarea matInput placeholder="Add Description About The Job " formControlName="jobDescription"></textarea>                                               </mat-form-field>
                             
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                        <mat-form-field   class="example-full-width">
                                            <input id="endDate" type="date" matInput placeholder="Date You Want to Stop Showing the Job Advertisement " formControlName="endDate">
                                          </mat-form-field>
                                        </div>
                                        </div>
                                        <div class="col-md-6">
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addJob()" >Add The Job</button>
                                         </div>

                                    <br><br> <br><br><br> <br>
                                   
                                        <div class="clearfix"></div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        
                        </div>
                    </div>
                
              </div>
    
    </mat-drawer-container>
    
    
    
        </mat-form>