.application:hover{
  font-size:xx-large;
    background-color: lightgrey;
    color: #790100;
    cursor: pointer;
}
mat-form-field:hover{
 background-color:darkgrey;
 font-size:xx-large;
 cursor: pointer;

    color: #790100;
}
.example-container {
 
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  label{
    font-size:xx-large;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  mat-drawer-container{
    min-height: 800px;
    width: 100%;
  
}
button:hover {
  background-color: #790100;
  color: white;
}
.button1{
  background-color: white; width:200px;color: #790100;border-radius: 0%;
}
  
